{% block head %}
<style>
      h1 {
        font-family: 'Walter Turncoat', serif;
        font-size: 30px;
      }
    </style>
<!-- Navbar
================================================== -->
<div class="navbar navbar-static-top">
  <div class="navbar-inner">
    <div class="container">
      <!-- logo -->
      <div class="logo">
      <h1>SİNEMA</h1>
      </div>
      <!-- end logo -->

      <!-- top menu -->
      <div class="navigation">
        <nav>
          <ul class="nav topnav">
            <li class="active">
              <a href="/anasayfa"><i class="icon-home"></i> Ana Sayfa </a>
            </li>
            <li>
              <a href="/listeler"><i class="icon-briefcase"></i> Listeler</a>
            </li>
            <li class="dropdown">
              <a href="/haberler"><i class="icon-book"></i> Haberler</a>

            </li>
            <li>
              <a href="/iletisim"><i class="icon-envelope-alt"></i> İletişim</a>
            </li>
            <li>

              <a href="#" data-toggle="modal" data-target="#login-modal"> <i class="icon-user"></i> Giriş</a>

<div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    	  <div class="modal-dialog">
				<div class="loginmodal-container">
					<h1>Hesabına Giriş Yap</h1><br>
				  <form>
					<input type="text" name="user" placeholder="Username">
					<input type="password" name="pass" placeholder="Password">
					<input type="submit" name="login" class="login loginmodal-submit" class="btn btn-theme" value="Login">
				  </form>

				  <div class="login-help">
					<a href="#">Kayıt Ol</a> - <a href="#">Forgot Password</a>
				  </div>
				</div>
			</div>
		  </div>
            </li>
          </ul>
        </nav>
      </div>
      <!-- end menu -->

    </div>
  </div>
</div>

{% endblock %}
